<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TreeContents" type="Do_MyWork.XmlSectionHandler, Do-MyWork" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Editor" value="C:\Program Files (x86)\Notepad++\notepad++.exe"/>
  </appSettings>
  <TreeContents>
    <item name='Config' file='.\Do-MyWork.exe.config' />
    <item name='Web' url='http://surfingwithstyle.com' />
  </TreeContents>
</configuration>