<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TreeContents" type="Do_MyWork.XmlSectionHandler, Do-MyWork" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Editor" value="C:\Program Files (x86)\Notepad++\notepad++.exe"/>
  </appSettings>
  <TreeContents>
    <item name='Config' file='.\Do-MyWork.exe.config' />
    <item name='Web' url='http://surfingwithstyle.com' />
    <item name='Files' files='C:\temp\*.txt' />
    <item name='Directories' dirs='C:\temp\t*' />
    <item name='Grandparent'>
      <item name='Parent'>
        <item name='Empty Child Folder' files='C:\temp\junk\*' />
      </item>
    </item>
    <item name='Batch' file='C:\temp\junk.bat' />
  </TreeContents>
</configuration>